.info_tab {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top_wrapper {
  display: flex;
  height: 24rem;
}

.bottom_wrapper {
  display: flex;
  justify-content: center;
}

.pillar_decoration {
  height: 100%;
  width: 4rem;
  border-radius: 4rem;
  margin-top: 6rem;
  background-color: var(--lower-color);
}

.bar_decoration {
  width: 90%;
  height: 4rem;
  border-radius: 4rem;
  margin-top: 6rem;
  background-color: var(--lower-color);
}

.info_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  column-gap: 6rem;
  padding: 1.8rem 1.2rem;
}

.sections_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3.6rem;
  height: 30rem;
}

.sections_wrapper section {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  align-items: flex-start;
}

.sections_wrapper h1 {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
  transform: translateX(-0.8rem);
}

.links_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.6rem;
  font-size: 1.8rem;
}

.links_wrapper > * {
  width: max-content;
}

.link_button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.link_button:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

.info_tab a:hover,
.link_button:hover {
  color: var(--link-color-hover);
}

.contact_us_wrapper {
  display: flex;
}

.sections_wrapper .contact_us {
  display: flex;
  flex-direction: column;
  margin-top: 5.4rem;
  row-gap: 0.4rem;
  text-align: start;
  max-width: 24rem;
}

.contact_message {
  font-style: italic;
}

.email {
  margin-left: 0.4rem;
  font-style: oblique;
  font-weight: bold;
  color: var(--link-color-hover);
}

@media screen and (max-width: 580px) {
  .pillar_decoration {
    display: none;
  }

  .top_wrapper {
    margin: 0 3.6rem;
  }
}
@media screen and (max-width: 500px) {
  .info_wrapper {
    column-gap: 3.6rem;
  }
}

@media screen and (max-width: 420px) {
  .info_wrapper {
    column-gap: 2rem;
  }
}

@media screen and (max-width: 380px) {
  .info_wrapper {
    column-gap: 1.2rem;
  padding: 1.8rem 0rem;
  }

  .sections_wrapper h1 {
    transform: translateX(0rem);
  }
}
