.input_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 0.6rem;
}

.error {
  font-size: 1.4rem;
  color: var(--error-color);
  padding-left: 0.8rem;
  align-self: flex-start;
}
