.navbar {
  --height: 6rem;
  width: 100vw;
  height: var(--height);
  min-height: var(--height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--lower-color);
  border-bottom: 0.05rem var(--border-color);
  column-gap: 1.2rem;
  padding: 0 1.6rem;
}

.navbar > * {
  animation: appear 0.1s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_wrapper a {
  display: flex;
  align-items: center;
}

.logo_wrapper svg {
  height: calc(0.6 * var(--height));
  width: auto;
  fill: var(--grey-text);
}
.logo_wrapper svg:hover {
  fill: white;
  cursor: pointer;
}

.navbar .menu_icons {
  justify-content: flex-start;
}

.navbar .game_mode_links {
  justify-content: flex-end;
}

.links_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links_wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--grey-text);
}

@media screen and (max-width: 875px) {
  .navbar .menu_icons {
    justify-content: center;
  }

  .navbar .game_mode_links {
    justify-content: center;
  }
}
