.homepage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1800px;
  width: 100%;
}

.homepage h1 {
  all: unset;
  padding: 1.8rem 0;
  font-size: 3rem;
  font-weight: 300;
  font-family: "Poppins", "Manrope", "Segoe UI", sans-serif;
}

.links_wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  row-gap: 1.2rem;
  column-gap: 2%;
  flex-wrap: wrap;
  padding-bottom: 2%;
  width: 100%;
}

@media screen and (min-width: 1028px) {
  .links_wrapper {
    column-gap: 1.5%;
  }
}
