.page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.8rem;
  width: 36rem;
}

.numbers{
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper > * {
  display: flex;
  justify-content: center;
  column-gap: 0.4rem;
}

.inputs{
  display: flex;
  justify-content: center;
  column-gap: 0.8rem;
  width: 100%;
}