.page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: safe center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
