.progress_bar {
  display: flex;
  justify-content: flex-start;
  height: 0.8rem;
  width: 100%;
  background-color: var(--background);
  border: var(--smallBorder);
  position: fixed;
  top: 0;
}

.percent {
  background-color: rgb(0, 129, 17);
  transition: width .4s;
}
