.button {
  --height: 4.4rem;
  --buttonColor: var(--lower-color);
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Gabarito", "Manrope", "Roboto", sans-serif;
  height: max-content;
  min-height: var(--height);
  width: max-content;
  max-width: 24rem;
  padding: 0.4rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
  text-align: center;
  text-wrap: pretty;
  user-select: none;
  font-size: 1.8rem;
  border-radius: 1.6rem;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.15s;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  transform: translateZ(0); /* Helps Mobile */
  will-change: transform;
  color: light-dark(var(--grey-text), var(--grey-text));
}

.primary:hover,
.secondary:hover,
.tertiary:hover {
  transition: all 0.15s;
}

.default {
  min-width: 16rem;
}

.full {
  width: 100%;
  max-width: 100%;
}

.button:focus-visible {
  outline: 0.1rem solid var(--focus-color);
  outline-offset: 0.2rem;
}

.button.active {
  transition: all 0.1s;
  transform: translateY(0.04rem) scale(0.98) translateZ(0); /* Helps Mobile */
  will-change: transform;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
}

.primary,
.red,
.green {
  border: 0.2rem solid rgba(0, 0, 0, 0);
  font-weight: bolder;
}

.primary:hover,
.red:hover,
.green:hover {
  color: light-dark(rgb(255, 255, 255), rgb(245, 245, 245));
  filter: brightness(1.1);
}

.primary {
  background-color: var(--buttonColor);
}

.red {
  background-color: var(--higher-color);
}

.green {
  background-color: var(--green);
}

.secondary {
  border: 0.2rem solid var(--buttonColor);
  color: light-dark(var(--buttonColor), var(--grey-text));
  font-weight: bolder;
  background-color: var(--background);
}

.secondary:hover {
  background-color: light-dark(rgb(245, 245, 245), rgb(60, 60, 60));
  color: light-dark(var(--buttonColor), rgb(245, 245, 245));
}

.tertiary {
  background-color: transparent;
  border: 0.1rem solid light-dark(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4));
  color: light-dark(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8));
}

.tertiary:hover {
  border-color: light-dark(var(--buttonColor), rgb(240, 240, 240));
  color: light-dark(rgba(0, 0, 0, 1), rgba(255, 255, 255));
}

.text_container {
  width: 100%;
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_container > * {
  width: calc(var(--height) * 0.75);
  height: calc(var(--height) * 0.75);
  object-fit: cover;
  object-position: center center;
}
