@import "~normalize.css/normalize.css";

:root {
  color-scheme: light dark;
  --grey: light-dark(#8c8c8c, #8c8c8c);
  --yellow: light-dark(#d1b101, #9d8600);
  --green: light-dark(#23a64c, #1e8c41);
  --dark-blue: light-dark(#0a0a2f, #0a0a2f);
  --higher-color: light-dark(#962929, #962929);
  --lower-color: light-dark(#434360, #434360);
  --hint-color: light-dark(rgb(225, 225, 225), rgb(120, 120, 120));
  --background: light-dark(white, rgb(50, 50, 50));
  --foreground: light-dark(black, white);
  --border-color: light-dark(rgb(50, 50, 50), rgb(245, 245, 245));
  --border: 0.05rem solid var(--border-color);
  --backdrop-color: light-dark(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
  --link-color: light-dark(blue, rgb(170, 170, 255));
  --icon-color: light-dark(black, rgb(230, 230, 230));
  --error-color: light-dark(brown, rgb(249, 105, 105));
  --focus-color: light-dark(rgba(47, 96, 149, 1), rgba(200, 200, 200, 1));
  --focus-outline: 0.1rem solid var(--focus-color);
  --focus-outline-offset: 0.1rem;
  --grey-text: light-dark(rgb(240, 240, 240), rgb(230, 230, 230));
}

/* Elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
  transition: outline 0.1s ease-in-out, outline-offset 0.1s ease-in-out;
}

input {
  background-color: var(--background);
  font-family: "Urbanist", "Segoe UI", "Arial", sans-serif;
}

label {
  font-family: "Urbanist", "Segoe UI", "Arial", sans-serif;
}

input::placeholder {
  color: var(--foreground);
}

svg {
  fill: var(--icon-color);
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
}

body {
  color: light-dark(black, var(--grey-text));
  font-family: "Manrope", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  background: var(--background);
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", "Manrope", "Segoe UI", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
}

nav {
  font-family: "Urbanist", "Segoe UI", "Arial", sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* Fonts */
/* Poppins */
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Urbanist */
@font-face {
  font-family: "Urbanist";
  src: url("./fonts/urbanist/Urbanist-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/urbanist/Urbanist-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Manrope */
@font-face {
  font-family: "Manrope-ExtraLight";
  src: url("./fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

/* Gabarito */
@font-face {
  font-family: "Gabarito";
  src: url("./fonts/Gabarito-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

/* Inter */
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
