.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100svh;
}

.page > * {
  animation: appear 0.2s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
