.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.6rem;
  max-width: 36rem;
  padding: 0 2.4rem;
}

.instructions h3 {
  display: flex;
  justify-content: center;
  width: 90%;
  border-bottom: 0.05rem solid var(--foreground);
  padding-bottom: 0.2rem;
}

.instructions_wrapper,
.example_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.6rem;
}

.example_wrapper {
  row-gap: 0.8rem;
}

.row_wrapper {
  display: flex;
  justify-content: center;
}

.instruction_text {
  font-size: 1.8rem;
  border-bottom: 0.05rem solid var(--foreground);
  padding-bottom: 0.2rem;
}

.arrows_wrapper {
  display: flex;
  column-gap: 1.2rem;
}

.color_hints {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  width: 100%;
}

.color_hint {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.4rem;
}

.color_hint .text_wrapper {
  width: 16rem;
  font-size: 1.6rem;
  text-wrap: pretty;
}
