.navbar_button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.6rem;
  padding: 0.4rem 0.4rem;
  font-size: 1.8rem;
  background-color: var(--lower-color);
  color: var(--grey-text);
  transition: all 0.1s;
}

.navbar_button:focus-visible {
  outline: 0.1rem solid var(--focus-color);
  outline-offset: 0.2rem;
}

.navbar_button:hover {
  color: white;
  filter: brightness(1.15);
  transition: all 0.1s;
}

.navbar_button:hover svg {
  height: 100%;
  width: auto;
  fill: white;
  transition: all 0.1s;
}

.navbar_button svg {
  height: 100%;
  width: auto;
  fill: var(--grey-text);
  transition: fill 0.3s;
}
