.delete_account_container {
  border: var(--border);
  background-color: var(--background);
  width: 36rem;
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem;
  border-radius: 0.4rem;
  row-gap: 1.6rem;
  height: max-content;
}

.delete_account_container > * {
  width: 95%;
  display: flex;
  justify-content: center;
}

.message {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-wrap: balance;
}

.delete_password_container button {
  width: 80%;
}
