.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;
  border-bottom: var(--smallBorder);
}

.tabs_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--lower-color);
}

.tabs {
  display: flex;
  position: relative;
  overflow-x: scroll;
  max-width: 100vw;
  width: 100%;
  padding: 0 2%;
  max-width: 160rem;
  align-items: center;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 2rem;
  height: max-content;
  width: max-content;
  margin: 0 0.8rem;
  padding: 0.4rem 0;
  flex-shrink: 0;
  z-index: 1;
}

.tab:focus-visible {
  outline: 0.4rem solid var(--green);
  outline-offset: var(--focus-outline-offset);
  transition: outline 0.1s ease-in-out, outline-offset 0.1s ease-in-out;
}

.tab_label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  text-align: center;
  text-wrap: balance;
  padding: 0.8rem 0;
}

.tab.active {
  cursor: auto;
  color: black;
  transition: color 0.3s;
}

.tab:not(.active) {
  color: var(--grey-text);
  transition: color 0.2s;
}

.indicator {
  position: absolute;
  height: 3rem;
  border-radius: 1.2rem;
  background-color: rgb(240, 240, 240);
  transition: left 0.2s, width 0.2s;
}

.tab_panels {
  display: flex;
  justify-content: center;
  text-align: center;
  border: var(--smallBorder);
  width: 100%;
  min-height: 20rem;
  height: 100%;
  max-width: 98vw;
}

.tab_panel {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1.2rem 0;
}
