.end_panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  max-width: 95vw;
  border: 0.05rem solid var(--border-color);
  row-gap: 1.6rem;
  position: relative;
  padding: 2.4rem 1.2rem 1.8rem;
  background-color: var(--background);
  border-radius: 2rem;
  animation: appear 0.6s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-3.2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.end_panel > * {
  display: flex;
  justify-content: center;
  width: 100%;
}

.close_button {
  all: unset;
  box-sizing: border-box;
  height: 2.8rem;
  width: 2.8rem;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 1.2rem;
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
}

.close_button:focus,
.close_button:hover {
  outline: 0.1rem solid var(--focus-color);
}

.close_icon {
  height: 100%;
  width: 100%;
  pointer-events: none;
  fill: var(--icon-color);
}

.result {
  font-size: 3.6rem;
  font-family: "Poppins", "Manrope", "Segoe UI", sans-serif;
}

.correct_number {
  display: flex;
  justify-content: center;
  column-gap: 0.2rem;
  height: 7.5rem;
  width: 100%;
}

.game_modes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0;
  opacity: 0;
  animation: game_modes_appear 1.8s forwards;
  animation-delay: 2s;
}

.play_more {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  padding-bottom: 0.6rem;
  width: 60%;
  border-bottom: var(--border);
}

@keyframes game_modes_appear {
  0% {
    height: 0rem;
    opacity: 0;
    transform: translateY(-3.2rem);
  }
  40% {
    opacity: 0;
  }
  100% {
    height: 10.2rem;
    opacity: 1;
    transform: translateY(-0.4rem);
  }
}

.links_wrapper {
  display: flex;
  padding-top: 1.2rem;
}
