.reset_container {
  border: var(--border);
  background-color: var(--background);
  width: 36rem;
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem;
  margin: 6rem 0;
  border-radius: 0.4rem;
  row-gap: 1.6rem;
  height: max-content;
  position: relative;
}

.reset_container > * {
  width: 95%;
  display: flex;
  justify-content: center;
}

.label {
  font-family: "Urbanist", "Segoe UI", "Arial", sans-serif;
  font-size: 2.4rem;
  font-weight: 100;
  position: absolute;
  top: -4rem;
  left: -25%;
}

.reset_form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.6rem;
}

.reset_form > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.8rem;
}

.reset_container a {
  color: var(--link-color);
}

.reset_form a,
.reset_form {
  align-self: flex-start;
  font-size: 1.6rem;
}

.message {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-wrap: balance;
}
